* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background:url(https://yandex.ru/images/search?p=1&text=%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D1%83%D1%8E%20%D0%BF%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C&img_url=http%3A%2F%2Fwww.artwall.ru%2Ffiles%2Fproducts%2F400_F_28481720.jpg&pos=52&rpt=simage);
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 320px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 300px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}
